extends partials/site

block content

  section.container  

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')
        
        dl.conf-chairs

          dt General Chair
          dd Michael Burch #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Program Chairs
          dd Günter Wallner #[br]
            small Johannes Kepler University Linz, Austria &amp;<br> Eindhoven University of Technology, The Netherlands

          dt
          dd Daniel Limberger #[br]
            small Hasso Plattner Institute, University of Potsdam, Germany

          dt Publicity Chair
          dd Yves Staudt #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt 
          dd Wei Zeng #[br]
            small The Hong Kong University of Science and Technology (Guangzhou),<br>Guangdong Province, China

          dt Publication Chair
          dd Alexandre van Schie #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Web Chair
          dd Thomas Keller #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt
          dd Daniel Limberger #[br]
            small Hasso Plattner Institute, University of Potsdam, Germany


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program Committee')
        
        dl.conf-chairs

            dt IPC Members 
            dd Aidong Lu			#[br] #[small UNC Charlotte ]
            dt
            dd Andreas Kerren		#[br] #[small Linnaeus University ]
            dt
            dd Ayush Kumar			#[br] #[small Harvard Medical School ]
            dt
            //- dd Denis Gracanin		#[br] #[small Virginia Tech ]
            //- dt
            dd Gennaro Costagliola	#[br] #[small Università di Salerno ]
            dt
            dd Gualtiero Volpe		#[br] #[small InfoMus-DIST-University of Genoa ]
            dt
            dd Hamid Mansoor        #[br] #[small Worcester Polytechnic Institute, United States ]
            dt
            dd Hongfeng Yu			#[br] #[small University of Nebraska-Lincoln ]
            dt
            dd Kang Zhang			#[br] #[small The University of Texas at Dallas ]
            dt
            dd Michael Burch		#[br] #[small University of Applied Sciences]
            dt
            dd Paul Bourke			#[br] #[small University of Western Australia ]
            dt
            dd Paul Rosenthal		#[br] #[small Chermnitz University of Technology ]
            dt
            dd Paolo Bottoni		#[br] #[small Sapienza University of Rome ]
            dt
            dd Patrick Adelberger	#[br] #[small Johannes Kepler University Linz, Austria ]
            dt
            dd Quang Vinh Nguyen	#[br] #[small Western Sydney University ]
            dt
            dd Quynh Quang Ngo		#[br] #[small University of Stuttgart ]
            dt
            //- dd Robert S Laramee		#[br] #[small Swansea University ]
            //- dt
            dd Shigeo Takahashi		#[br] #[small University of Aizu ]
            dt
            dd Steffen Frey			#[br] #[small University of Groningen ]
            dt
            dd Stephen Brooks		#[br] #[small Dalhousie University ]
            dt
            dd Stephan Diehl		#[br] #[small University Trier ]
            dt
            dd Takayuki Itoh		#[br] #[small Ochanomizu University ]
            dt
            //- dd Tomasz Bednarz		#[br] #[small UNSW Art & Design, CSIRO Data61 ]
            //- dt
            dd Uwe Kloos			#[br] #[small Reutlingen University ]
            dt
            dd Willy Scheibel		#[br] #[small Hasso Plattner Institute, University of Potsdam ]
            dt
            dd Xiaodi Huang			#[br] #[small Charles Sturt University, Australia ]
            dt
            dd Ying Zhao			#[br] #[small Central South University ]
            dt
