extends partials/site

block content

  section.container  

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')
        
        dl.conf-chairs

          dt General Chair
          dd Michael Burch #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Program Chairs
          dd Günter Wallner #[br]
            small Johannes Kepler University Linz,<br>Austria &amp; Eindhoven University of Technology, The Netherlands

          dt
          dd Daniel Limberger #[br]
            small Hasso Plattner Institute, University of Potsdam, Germany

          dt Publicity Chair
          dd Yves Staudt #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt 
          dd Wei Zeng #[br]
            small The Hong Kong University of Science and Technology (Guangzhou),<br>Guangdong Province, China

          dt Publication Chair
          dd Alexandre van Schie #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Web Chair
          dd Thomas Keller #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program Committee')
        
        dl.conf-chairs

          dt IPC Members (list of VINCI'21, changes pending...)
          dd Aidong Lu            #[br] #[small UNC Charlotte ]
          dt 
          dd Andreas Kerren       #[br] #[small Linnaeus University ]
          dt 
          dd Ayush Kumar          #[br] #[small Stony Brook University ]
          dt 
          dd Camilla Forsell      #[br] #[small Linköpings Universitet ]
          dt 
          dd Daniel Limberger     #[br] #[small Hasso Plattner Institute ]
          dt 
          dd Gennaro Costagliola  #[br] #[small Dipartimento di Informatica, Università di Salerno ]
          dt 
          dd Gualtiero Volpe      #[br] #[small InfoMus-DIST-University of Genoa ]
          dt 
          dd Guenter Wallner      #[br] #[small Johannes Kepler University Linz ]
          dt 
          dd Helen Purchase       #[br] #[small University of Glasgow]
          dt 
          dd Hongfeng Yu          #[br] #[small University of Nebraska-Lincoln ]
          dt 
          dd Jianlong Zhou        #[br] #[small University of Technology, Sydney ]
          dt 
          dd Kai Xu               #[br] #[small Middlesex University ]
          dt 
          dd Kang Zhang           #[br] #[small The University of Texas at Dallas ]
          dt 
          dd Margit Pohl          #[br] #[small Vienna University of Technology ]
          dt 
          dd Maxime Cordeil       #[br] #[small ENAC/DTI-R&amp;D/IRIT ]
          dt
          dd Michael Burch        #[br] #[small University of Applied Sciences of the Grisons ]
          dt 
          dd Paolo Bottoni        #[br] #[small Sapienza University of Rome ]
          dt 
          dd Paul Bourke          #[br] #[small University of Western Australia ]
          dt 
          dd Peter Rodgers        #[br] #[small University of Kent ]
          dt 
          dd Quang Vinh Nguyen    #[br] #[small Western Sydney University ]
          dt 
          dd Shigeo Takahashi     #[br] #[small University of Aizu ]
          dt 
          dd Steffen Frey         #[br] #[small University of Groningen ]
          dt 
          dd Stephan Diehl        #[br] #[small University Trier ]
          dt 
          dd Stephen Brooks       #[br] #[small Dalhousie University ]
          dt 
          dd Takayuki Itoh        #[br] #[small Ochanomizu University ]
          dt 
          dd Vittorio Fuccella    #[br] #[small Dipartimento di Informatica, Università di Salerno ]
          dt 
          dd Willy Scheibel       #[br] #[small Hasso Plattner Institute ]
          dt 
          dd Ying Zhao            #[br] #[small Central South University ]
