extends partials/site

block content

  section.container  

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Organizing Committee')
        
        dl.conf-chairs

          dt General Chair
          dd Michael Burch #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Program Chairs
          dd Günter Wallner #[br]
            small Johannes Kepler University Linz, Austria &amp;<br> Eindhoven University of Technology, The Netherlands

          dt
          dd Daniel Limberger #[br]
            small Hasso Plattner Institute, University of Potsdam, Germany

          dt Publicity Chair
          dd Yves Staudt #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt 
          dd Wei Zeng #[br]
            small The Hong Kong University of Science and Technology (Guangzhou),<br>Guangdong Province, China

          dt Publication Chair
          dd Alexandre van Schie #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt Web Chair
          dd Thomas Keller #[br]
            small University of Applied Sciences of the Grisons, Chur, Switzerland

          dt
          dd Daniel Limberger #[br]
            small Hasso Plattner Institute, University of Potsdam, Germany


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Program Committee')
        
        dl.conf-chairs

          dt IPC Members 
          dd Aidong Lu            #[br] #[small UNC Charlotte ]
          dt 

