extends partials/site

block content

  section.container

    .row.justify-content-center
      .col-custom.col-padding

        +h2('Keynote')
   
        h3 Prof. Dr. Kang Zhang
        p
          | Computational Media and Arts, Hong Kong University of Science and Technology, China.
          br
          | #[a(href = 'https://personal.utdallas.edu/~kzhang/') Find out more about Kang Zhang.]

        h3 Aesthetic Measurement of Paintings
       
        p
          | This talk will first introduce the recently emerging interdisciplinary research topics of 
          | computational aesthetics and aesthetic computing, and discuss their difference and 
          | complementary roles. We will then focus on computational aesthetics, in particular, on the
          | aesthetic measurement of paintings. Based on the mathematician Birkhoff's 1933 seminal 
          | theory of aesthetic measurement, we measure the white space usage in Master Wu Guanzhong's
          | paintings, and the complexity of Chinese ink paintings. We then report our latest work on
          | the visual order of both Chinese ink paintings and Western styled oil paintings and compare
          | their commonality and differences, possibly influenced by different cultural backgrounds. 
          | If time permits, we will mention our recent efforts in generating abstract images of styles
          | of Kandinsky, Miro, Pollock, and Picasso, and floor plan generation. 


        img(src = require('./img/photos/portrait-zhang.jpg') alt = 'portrait zhang').keynote-portrait

        h3 Biography

        p
          | Kang Zhang is a Professor of Computational Media and Arts, Hong Kong University of Science
          | and Technology (Guangzhou), and Professor Emeritus of Computer Science, The University of
          | Texas at Dallas. He was a Fulbright Distinguished Chair and an ACM Distinguished Speaker,
          | and held academic positions in China, the UK, Australia and USA. He received his B.Eng. in
          | Computer Engineering from University of Electronic Science and Technology of China in 1982,
          | Ph.D. from the University of Brighton, UK, in 1990, and Executive MBA from the University of
          | Texas at Dallas in 2011. Zhang's current research interests include computational aesthetics,
          | visual languages, and software engineering; and has published 8 books, and over 100 journal
          | papers in these areas. He has delivered keynotes at art and design, computer science, and
          | management conferences, and is on the editorial boards of 
          | #[i Journal of Big Data], 
          | #[i The Visual Computer], 
          | #[i Journal of Visual Language and Computing], 
          | #[i International Journal of Software Engineering and Knowledge Engineering], 
          | #[i International Journal of Advanced Intelligence],
          | #[i Visual Computing for Industry, Biomedicine, and Art], and 
          | #[i Chinese Journal of Software].


    .row.justify-content-center
      .col-custom.col-padding
        
        +h2('Keynote')

        p More information will follow in the coming days and weeks.

        h3 Prof. Dr. Tobias Schreck
        p
           |  Institute of Computer Graphics and Knowledge Visualization, TU Graz.
           br
           | #[a(href = 'https://www.tugraz.at/institute/cgv/schreck/') Find out more about Tobias Schreck.]

         h3 #[Visual Analytics for Industrial Data Analysis]
        
         p 
            | Visual Analytics approaches combine interactive data visualizations with data analysis algorithms 
            | to help domain experts to explore, understand and make sense of large and complex data sets. An 
            | interesting, challenging field of application is the analysis of industrial data. In modern production 
            | processes, increasingly large amounts of different kinds of data are collected, which need to be 
            | understood, explored, and applied to support decision making and process improvements. We introduce a 
            | number of key data analysis tasks in industrial data analysis, and discuss selected solutions we 
            | developed in design studies together with industrial data analysis experts. The examples show how to 
            | support tasks including anomaly detection in time-series data, correlation of patterns in end-of-line test
            | data, and visual comparison of classifiers for test procedures. Besides the typical desktop workstation
            | environment, we also discuss approaches based on immersive visualization and eye-tracking interactions 
            | for support of visual data analysis tasks. We conclude the talk by discussing a number of future research challenges.
        

         img(src = 'img/photos/portrait-schreck.jpg' alt = 'portrait schreck').keynote-portrait

         h3 Biography

         p
            | Tobias Schreck is a professor and head of the Institute of Computer Graphics and Knowledge Visualization at Graz 
            | University of Technology, Austria. His research interests include visual analytics, information visualization, 
            | and applied 3D object retrieval. He received his Ph.D. degree in computer science from the University of Konstanz, 
            | Germany in 2006. Previously, he was an Assistant Professor with the University of Konstanz, and a Postdoc 
            | researcher with the Technical University of Darmstadt, Germany. He serves as a Papers Co-Chair for the EG Conference
            | on Visualization (EuroVis) 2022 and 2023, and he previously served as Associate Editor for IEEE TVCG 2018-2021, 
            | and as Papers Co-Chair for IEEE VAST 2017 and 2018. Tobias Schreck is a scientific partner in the Austrian 
            | FFG COMET Centre on Products and Production of the Future. He has led a number of research projects, and he 
            | currently coordinates the Austrian FWF Research Group on Human-Centered Interactive Adaptive Visual approaches 
            | in High-Quality Health Information.

